/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent scrollbars */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

/* p5 canvas */
canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
}
